.finalBTNs {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}
.buttons {
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 20px;
}
.underlining {
  width: 100%;
  height: 0.5px;
  background-color: lightgray;
  margin-block: 2rem;
}
