@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
} */

body {
  color: black;
  background-color: white;
}

.authHeading {
  color: black;
}

[data-theme="dark"] body {
  color: white;
}

[data-theme="dark"] .text-customParaColor {
  color: white;
}

[data-theme="dark"] .text-customBlueColor {
  color: #f6be0f;
}

[data-theme="dark"] .authHeading {
  color: #f6be0f;
}

[data-theme="dark"] .bg-white {
  background-color: black;
}

[data-theme="dark"] .bg-inputBackground {
  background-color: black;
}

[data-theme="dark"] .dashboard .bg-white {
  background-color: #22242f;
}

[data-theme="dark"] .mainContainer {
  background-color: black;
}

[data-theme="dark"] .authScreens {
  background-image: url("/images/authDarkBG.png");
  background-size: cover;
  background-position: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-weight: 700;
  font-size: 38px;
  text-align: center;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}
h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.montserrat_gray {
  font-family: "Montserrat", sans-serif;
  color: #989898;
}

img {
  width: auto;
  height: auto;
}
